// Css Modal Post
.img-user {
    height: 32px;
    width: 32px;
    object-fit: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
}

.img-modal-left-container {
    @include media-breakpoint-down(md){
        max-height: 80vh;  
    }
}

.img-modal-left {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;  
    @include media-breakpoint-up(lg){
        border-radius: .25rem 0 0 .25rem;
    }
    @include media-breakpoint-down(md){
        border-radius: .25rem .25rem 0 0;
    }
}

// Css Modal Post
.breadcrumb-nav-post .breadcrumb {
    @include media-breakpoint-up(lg){
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

.breadcrumb-nav-post div:nth-of-type(2) {
    flex-grow: 7;
}

