@import "./main.scss";
@import "./gradient-overlay.scss";
@import '../node_modules/aos/src/sass/aos.scss';
@import "./scroll-top.scss";
@import "./border-expanded.scss";


/*
======================================================================================================================

======================================================================================================================
*/
body {
    top: 0;
    position: fixed;
    overflow-x: hidden; 
}
  
/*
======================================================================================================================
Animación logo intro
======================================================================================================================
*/
.intro {
z-index: 1020;
overflow: hidden; 
transition: display ease-in 3s;
}

.bg1 {
    z-index: 1010;
}

// logo svg shatered animated
.intro figure {
display: flex!important;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
z-index: 1040;
position: relative; 
}
@media (max-width: 767px) {
.intro figure {
    align-items: start;
    justify-content: start;
    height: 70vh;
    width: 100vw;
    margin-top: 5rem;
}
}

.intro svg {
overflow: initial;
padding: 5vw;
width:35vw;
}
@media (max-width: 767px) {
.intro svg {
    padding: 0;
    padding-top: 2em;
    width: 40vw;
    margin: 0 15%;
}
}

.intro svg > * {
fill: #1C1C1C;
stroke: #1C1C1C;
stroke-width: 0.85px;
}
/*
======================================================================================================================
Mis juegos
======================================================================================================================
*/
.bg-dark-translucid {
    background-color: rgba(0, 0, 0, 0.8);
}

.h-50px {
    height: 50px;
  }

.card-img-custom{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 0;
}

.text-overlay-custom {
    position: relative;
    z-index: 1;
}

.card-custom {
 min-width: calc(25% - 30px);
}

.img-custom-long {
    max-height: 250px;
    object-fit: cover;
}
/*
======================================================================================================================
Resto de juegos
======================================================================================================================
*/
.gameCard-footer {
    // opacity: 0;
    transition: all ease-out .5s;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-out .5s;
}

.card-img-overlay {
    z-index: 2;
    object-fit: contain;
    transition: all ease-out .5s;
}    

.gameCard-img-small{
    width: 100%;
    height: 35vh;    
    object-fit: cover;
}

.gameCard-img-big{
    width: 100%;
    height: calc(70vh + 1.5rem);
    object-fit: cover;
}
  
.gameCard:hover {
    .gameCard-footer {
        opacity: 1;
        transition: all ease-out .5s;
    }    
    .card-img-overlay {
        padding: .5rem;
        transition: all ease-out .4s;
    }
    .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
        transition: all .3s ease-in-out;
    }
    .box-shadow {
        box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.4);
        transition: all ease-out .4s;
    }
}


.shutterOut {
    z-index: 1040;
}

@keyframes shutterOut {
    0% {
        display: block;
        opacity: 1;
        background: $primary;
        transform: scaleY(0);
        transform-origin: 50%;
        transition-property: transform;
        transition-timing-function: ease-out;
    }
  
    50% {
      opacity: 1;
      transform: scaleY(1);
    }

    100% {
        display: block;
        opacity: 1;
        background-image: linear-gradient(45deg, rgba(0, 255, 127, 1), rgba(27, 29, 44, 1));
        transform: scaleY(1);
        transform-origin: 100%;
        transition-property: transform;
        transition-timing-function: ease-out;
      }
  }
  
.shutterOut {
animation-name: shutterOut;
}

.bg-gradient {
    background-image: linear-gradient(45deg, rgba(0, 255, 127, 1) 1%, rgba(49, 73, 84, 1) 50%, rgba(27, 29, 44, 1) 100%);
    transition: all ease-out .4s;
}


/*
======================================================================================================================
Slider
======================================================================================================================
*/
.carousel {
    top: 0;
}

@include media-breakpoint-up(md) {
    #sliderhome, .carousel-inner {    
        height: 85vh;
    }

    .slider-layer-2, .slider-layer-3 {
        min-height: 85vh;
        object-fit: cover;
    }
}

@include media-breakpoint-down(md) {
    #sliderhome, .carousel-inner {    
        height: 95vh;
    }
    .slider-layer-2, .slider-layer-3 {
        min-height: 95vh;
        object-fit: cover;
    }
}

.carousel-control-prev, .carousel-control-next {
    z-index: 100!important;
}

.bg-1 {
    background-image: linear-gradient(-115deg, rgba(32, 35, 40, 0) 0%, rgba(32, 35, 40, 0.1) 40%, rgba(32, 35, 40, 0.3) 65%, rgba(0, 0, 0, 0.8) 100%);
    background-size: 120% 120%;
}

.bg-gradient-animation {
    animation-name: bg-gradient-animation;
}

@keyframes bg-gradient-animation { 
    0%{background-position:0% 1%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.slider-layer-1 {
    z-index: 3;
}

.slider-layer-2 {
    z-index: 2;
    margin-right: -40px!important;
    width: calc(100vw + 40px);
}

.slider-layer-3 {
    z-index: 1;
    margin-left: -40px!important;
    width: calc(100vw + 40px);
}

.carousel-caption-custom {
    top: 0px;   
}

@include media-breakpoint-up(lg){
    .carousel-caption-custom-item {
        margin-left: 7rem;
        width: 30vw;
    }
}

@include media-breakpoint-down(md){
    .carousel-caption-custom-item {
        margin: 1rem auto;
        width: 80vw;
    }
    .img-logo {
            margin-bottom: .5rem;
            padding-top: 3rem;
            max-height: 20vh;
            object-fit: contain;
    }
}

// Animations custom for the slide-works with animate.css:
@keyframes slideInLeftCustom {
    from {
      transform: translate3d(-3%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
.slideInLeftCustom {
    animation-name: slideInLeftCustom;
}

@keyframes slideInRightCustom {
    from {
        transform: translate3d(2%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
  
.slideInRightCustom {
    animation-name: slideInRightCustom;
}

.animated.slowerCustom {
    animation-duration: 10s;
}
///btn-shopping cart
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top-custom {
      position: -webkit-sticky;
      position: sticky;
      top: 55px;
      z-index: 1020; } 
}

.dropdown-menu {
    z-index: 1030;
}

.green-custom {
    color:  rgba(0,255,126,.55);
}

.shopping-cart {
    opacity: 0;
    z-index: 990;
    position: fixed;
    top: 47px;
    right: 85px;
    height: 60px;
    width: 60px;
    border-radius: 0 0 60px 60px;
    border-color: transparent;
    transition: all .3s ease-in-out;
    span {
        right: 2px;
        top: 2px;
    }
}

@-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }

//New
.nav-tabs .nav-link {
    color: #495057;
}

.nav-tabs .nav-link.active {
    color: $primary;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: rgb(0, 255, 127);
        border-left-color: transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(0, 255, 127);
    border-left-color: transparent;
}

.object-fit-cover {
    object-fit: cover;
}

@media (max-width: 991.98px) {
    .long-card {
        height: 443px;
    }
}
@media (min-width: 992px) {
    .long-card {
        height: 459px;
    }
}

.gradient-overlay-7 {
    background-image: linear-gradient(120deg, $secondary, rgba(63, 70, 121, .7));
}

.gradient-overlay-8 {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, .95) 100%);;
}

h4.card-title.h6  {
    font-family: $font-family-sans-serif;
    font-weight: 700;
}

@media (max-width: 575.98px) {
    h4.card-title.h6  {
        font-size: .825rem;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    h4.card-title.h6  {
        font-size: .85rem;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    h4.card-title.h6  {
        font-size: .9rem;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    h4.card-title.h6  {
        font-size: .95rem;
    }
}
@media (min-width: 1200px) {
    h4.card-title.h6  {
        font-size: .95rem;
    }
}

span.btn.btn-primary.btn-sm.px-2 {
    padding: 0.05rem 1rem;
}

.small-card {
    .card {
        box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5)!important;
    }
    .card-body {
        height: 95px;
    }
    .cart-btn {
        display: none;
    }
    .system-btns {
        display: flex;
    }
    .price .h6{
        margin-top: -4px;
    }
    .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        transition: all .3s ease-in-out;
    }
    .card-img-overlay {
        padding: 3.5rem;
    }
    &:hover {
        .system-btns {
            display: none;
        }
        .cart-btn {
            display: flex;
        }
        .logo-overlay {
            padding: 3rem;
            transition: all ease-out .4s;
        }
        .overlay {
            background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
            transition: all .3s ease-in-out;
        }
    }
    .gameCard-img {
        height: 116px;
        min-width: 100%;
        object-fit: cover;
    }
    .badges {
        top: -24px;
        left: 0;
    }
}

.big-card {
    .card {
        box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5)!important;
    }
    .card-body {
        height: 95px;
    }
    .cart-btn {
        display: none;
    }
    .system-btns {
        display: flex;
    }
    .price .h6{
        margin-top: -4px;
    }
    .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        transition: all .3s ease-in-out;
    }
    .card-img-overlay {
        padding: 3.5rem;
        max-width: 400px;
    }
    &:hover {
        .system-btns {
            display: none;
        }
        .cart-btn {
            display: flex;
        }
        .logo-overlay {
            padding: 3rem;
            transition: all ease-out .4s;
        }
        .overlay {
            background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
            transition: all .3s ease-in-out;
        }
    }
    @media (max-width: 991.98px) {
        .gameCard-img {
            height: 345px;
        }
    }
    @media (min-width: 992px) {
        .gameCard-img {
            height: 361px;
        }
    }

    .gameCard-img {
        min-width: 100%;
        object-fit: cover;
    }
    .badges {
        top: -24px;
        left: 0;
    }
}

#recommended {
    .small-card .gameCard-img {
        height: 160px;
    }
}

.card.bg-small-card {
    background-image: linear-gradient(100deg, $primary -80%, rgb(49, 73, 84) 110%);
}

.gameCard-footer-inner {
    height: 95px;
    background-image: linear-gradient(100deg, $primary -80%, rgb(49, 73, 84) 110%);
}

.game-card-rectangular {
    transition: all .1s ease-in-out;
    cursor: pointer;
    .cart-btn {
        display: none;
    }
    span.h6.text-shadow.mb-0 {
        margin-top: -4px;
    }
    &:hover {
        background-color: $secondary;
        box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.4);
        transition: all .1s ease-in-out;
        .cart-btn {
            display: flex;
        }
        .card-img-overlay {
            padding: .25rem;
            transition: all ease-out .4s;
        }
        .logo-img-container {
            background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
            transition: all .1s ease-in-out;
        }
    }
    img {
        object-fit: cover;
        height: 76px;
    }
    .bg-img-container {
        height: 76px;
        width: 136px;
    }
    .logo-img-container {
        transition: all .1s ease-in-out;
    }
    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .5rem;
    }
}
@media (max-width: 575.98px) {
    .game-card-rectangular .bg-img-container {
        height: 100px;
        width: 100px;
    }
    .game-card-rectangular .gameCard-img {
        height: 100px;
    }
    .game-card-rectangular img.logo-overlay.card-img-overlay {
        height: 55px;
    }
}

.price {
    white-space: nowrap;
}

#featured {
    .left-small img {
        height: 178px;
    }
    .right-long img{
        height: 360px;
    }
    .square-img {
        max-height: 433px;
    }
}

#news {
    .img-overflow {
        height: 264px;
    }
    img.gameCard-img {
        min-width: 100%;
        object-fit: cover;
    }
}

.slick-dots li.slick-active button:before {
    color: $primary!important;
}

.slick-dots li button:before {
    color: $primary!important;
}

.inCart, .soon {
    display: none;
    white-space: nowrap;
}

.btn-xs {
    font-size: 1rem!important;
    white-space: nowrap;
}