     .bg-gradient {
        background-image: linear-gradient(45deg, springgreen 1%, #314954 50%, #1b1d2c 100%);
        -webkit-transition: all ease-out .4s;
        transition: all ease-out .4s; }
      
      #ScrollTop {
        background-color: transparent;
        display: none;
        position: fixed;
        z-index: 1030;
        bottom: 20px;
        right: 20px;
        width: 70px; }
        #ScrollTop svg path {
          fill: #00ff7e; }
      
      
      /*
      ======================================================================================================================
      
      ======================================================================================================================
      */
      body {
        top: 0;
        overflow-x: hidden; }
      
      
      /*
      ======================================================================================================================
      Mis juegos
      ======================================================================================================================
      */
      .bg-dark-translucid {
        background-color: rgba(0, 0, 0, 0.8); }
      
      .h-50px {
        height: 50px; }
      
      .card-img-custom {
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0; }
      
      .text-overlay-custom {
        position: relative;
        z-index: 1; }
      
      .card-custom {
        min-width: calc(25% - 30px); }
      
      .img-custom-long {
        max-height: 250px;
        -o-object-fit: cover;
           object-fit: cover; }
      
      /*
      ======================================================================================================================
      Resto de juegos
      ======================================================================================================================
      */
      .gameCard-footer {
        -webkit-transition: all ease-out .5s;
        transition: all ease-out .5s; }
      
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease-out .5s;
        transition: all ease-out .5s; }
      
      .card-img-overlay {
        z-index: 2;
        -o-object-fit: contain;
           object-fit: contain;
        -webkit-transition: all ease-out .5s;
        transition: all ease-out .5s; }
      
      .gameCard-img-small {
        width: 100%;
        height: 35vh;
        -o-object-fit: cover;
           object-fit: cover; }
      
      .gameCard-img-big {
        width: 100%;
        height: calc(70vh + 1.5rem);
        -o-object-fit: cover;
           object-fit: cover; }
      
      .gameCard:hover .gameCard-footer {
        opacity: 1;
        -webkit-transition: all ease-out .5s;
        transition: all ease-out .5s; }
      
      .gameCard:hover .card-img-overlay {
        padding: .5rem;
        -webkit-transition: all ease-out .4s;
        transition: all ease-out .4s; }
      
      .gameCard:hover .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      
      .gameCard:hover .box-shadow {
        -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.4);
                box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.4);
        -webkit-transition: all ease-out .4s;
        transition: all ease-out .4s; }
      
      .shutterOut {
        z-index: 1040; }
      
      @-webkit-keyframes shutterOut {
        0% {
          display: block;
          opacity: 1;
          background: #00ff7f;
          -webkit-transform: scaleY(0);
                  transform: scaleY(0);
          -webkit-transform-origin: 50%;
                  transform-origin: 50%;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out; }
        50% {
          opacity: 1;
          -webkit-transform: scaleY(1);
                  transform: scaleY(1); }
        100% {
          display: block;
          opacity: 1;
          background-image: linear-gradient(45deg, springgreen, #1b1d2c);
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100%;
                  transform-origin: 100%;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out; } }
      
      @keyframes shutterOut {
        0% {
          display: block;
          opacity: 1;
          background: #00ff7f;
          -webkit-transform: scaleY(0);
                  transform: scaleY(0);
          -webkit-transform-origin: 50%;
                  transform-origin: 50%;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out; }
        50% {
          opacity: 1;
          -webkit-transform: scaleY(1);
                  transform: scaleY(1); }
        100% {
          display: block;
          opacity: 1;
          background-image: linear-gradient(45deg, springgreen, #1b1d2c);
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100%;
                  transform-origin: 100%;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out; } }
      
      .shutterOut {
        -webkit-animation-name: shutterOut;
                animation-name: shutterOut; }
      
      .bg-gradient {
        background-image: linear-gradient(45deg, springgreen 1%, #314954 50%, #1b1d2c 100%);
        -webkit-transition: all ease-out .4s;
        transition: all ease-out .4s; }
      
      /*
      ======================================================================================================================
      Slider
      ======================================================================================================================
      */
      body {
        position: relative!important;
      }
      .carousel-top-category {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
      }
      .carousel-top-category.slick-initialized { 
        visibility: visible;
        opacity: 1;    
      }
      .carousel-item {
        overflow-x: hidden;
        max-width: 100%;
      }
      .carousel-top-category .img-logo {
        object-position: left;
      }
      .carousel-top-category .slick-slide .no-visible {
        opacity: 0;
      }
      .bg-dark-custom {
        background-color: rgba(27, 29, 44, .95);
      }
      @media (max-width: 575.98px) {
        .carousel-top-category .slider-layer-2, .carousel-top-category .slider-layer-3 {
          height: 280px;
          -o-object-fit: cover;
              object-fit: cover;
        }
        .carousel-top-category .slider-layer-2 {
          -o-object-position: right;
            object-position: right;
        }
        .metatitles{
          font-size: 1em;
        }
        .img-logo {
          max-height: 85px;
          -o-object-fit: contain;
            object-fit: contain; 
        }}
        
      @media (min-width: 576px) and (max-width: 767.98px) {
        .carousel-top-category .slider-layer-2, .carousel-top-category .slider-layer-3 {
          height: 366px;
          -o-object-fit: cover;
              object-fit: cover;
        }
        .img-logo {
          max-height: 115px;
          -o-object-fit: contain;
            object-fit: contain; 
        }}
              
      @media (min-width: 768px) and (max-width: 991.98px) {
        .carousel-top-category .slider-layer-2, .carousel-top-category .slider-layer-3 {
          height: 366px;
          -o-object-fit: cover;
            object-fit: cover;
        } 
        .img-logo {
          max-height: 150px;
          -o-object-fit: contain;
            object-fit: contain; 
        }}
      
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .carousel-top-category .slider-layer-2 {
          height: 366px;
          -o-object-fit: contain;
            object-fit: contain;
        }
        .carousel-top-category .slider-layer-3 {
          height: 366px;
          -o-object-fit: cover;
            object-fit: cover;
        }
        .img-logo {
          max-height: 150px;
          -o-object-fit: contain;
            object-fit: contain; 
        }}
      
      @media (min-width: 1200px) {
        .carousel-top-category .slider-layer-2 {
          height: 366px;
          -o-object-fit: contain;
            object-fit: contain;
        }
        .carousel-top-category .slider-layer-3 {
          height: 366px;
          -o-object-fit: cover;
            object-fit: cover;
        }
        .img-logo {
          max-height: 165px;
          -o-object-fit: contain;
            object-fit: contain; 
        }}
      
      .carousel-top-category .slick-next,
      .carousel-top-category .slick-prev {
        z-index: 100;
      }
     
      .slider-layer-1 {
        z-index: 3; }
      
      .slider-layer-2 {
        z-index: 2;
        margin-right: -40px !important;
        max-width: calc(100% + 40px)!important; 
        min-width: calc(100% + 40px) !important;
      }
      
      .slider-layer-3 {
        z-index: 1;
        margin-left: -40px !important;
        max-width: calc(100% + 40px) !important;
        min-width: calc(100% + 40px) !important;
      }
      
      .carousel-caption-custom {
        top: 0px; }
      
      @media (min-width: 992px) {
        .carousel-caption-custom-item {
          margin-left: 7rem;
          width: 40%; } }
      
      @media (max-width: 991.98px) {
        .carousel-caption-custom-item {
          margin: .5rem auto;
          width: 80vw; }}
      
      @-webkit-keyframes slideInLeftCustom {
        from {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
          visibility: visible; }
        to {
          -webkit-transform: translate3d(-3%, 0, 0);
                  transform: translate3d(-3%, 0, 0); } }
      
      @keyframes slideInLeftCustom {
        from {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
          visibility: visible; }
        to {
          -webkit-transform: translate3d(-3%, 0, 0);
                  transform: translate3d(-3%, 0, 0); } }
      
      .slideInLeftCustom {
        -webkit-animation-name: slideInLeftCustom;
                animation-name: slideInLeftCustom; }
      
      @-webkit-keyframes slideInRightCustom {
        from {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
          visibility: visible; }
        to {
          -webkit-transform: translate3d(2%, 0, 0);
                  transform: translate3d(2%, 0, 0); } }
      
      @keyframes slideInRightCustom {
        from {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
          visibility: visible; }
        to {
          -webkit-transform: translate3d(2%, 0, 0);
                  transform: translate3d(2%, 0, 0); } }
      
      .slideInRightCustom {
        -webkit-animation-name: slideInRightCustom;
                animation-name: slideInRightCustom; }
      
      .animated.slowerCustom {
        -webkit-animation-duration: 10s;
                animation-duration: 10s; }
      
      @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sticky-top-custom {
          position: -webkit-sticky;
          position: sticky;
          top: 55px;
          z-index: 1020; } }
      
      .dropdown-menu {
        z-index: 1030; }
      
      .green-custom {
        color: rgba(0, 255, 126, 0.55); }
      
      .shopping-cart {
        z-index: 990;
        position: fixed;
        top: 47px;
        border-color: transparent;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .shopping-cart span {
          right: 2px;
          top: 2px; }
          @media (max-width: 575.98px) {
            .shopping-cart {
              right: 33px;
              height: 55px;
              width: 55px;
              border-radius: 0 0 55px 55px;
          }}
          @media (min-width: 576px) {
            .shopping-cart {
              right: 85px;
              height: 60px;
              width: 60px;
              border-radius: 0 0 60px 60px;
          }}
      
      @-webkit-keyframes rubberBand {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1); }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1); }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1); }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1); }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1); }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); } }
      
      @keyframes rubberBand {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1); }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1); }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1); }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1); }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1); }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); } }
      
      .rubberBand {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand; }
      
      .nav-tabs .nav-link {
        color: #495057; }
      
      .nav-tabs .nav-link.active {
        color: #fff; }
      
      .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: springgreen;
        border-left-color: transparent; }
      
      .nav-tabs .nav-link.active,
      .nav-tabs .nav-item.show .nav-link {
        background-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: springgreen;
        border-left-color: transparent; }
      
      .object-fit-cover {
        -o-object-fit: cover;
           object-fit: cover; }
      
      @media (max-width: 991.98px) {
        .long-card {
          height: 443px; } }
      
      @media (min-width: 992px) {
        .long-card {
          height: 459px; } }
      
      .gradient-overlay-7 {
        background-image: linear-gradient(120deg, #314954, rgba(63, 70, 121, 0.7)); }
      
      .gradient-overlay-8 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.95)));
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.95) 100%); }
      
      h4.card-title.h6 {
        font-family: "Jura";
        font-weight: 700; }
      
      @media (max-width: 575.98px) {
        h4.card-title.h6 {
          font-size: .825rem; } }
      
      @media (min-width: 576px) and (max-width: 767.98px) {
        h4.card-title.h6 {
          font-size: .85rem; } }
      
      @media (min-width: 768px) and (max-width: 991.98px) {
        h4.card-title.h6 {
          font-size: .9rem; } }
      
      @media (min-width: 992px) and (max-width: 1199.98px) {
        h4.card-title.h6 {
          font-size: .95rem; } }
      
      @media (min-width: 1200px) {
        h4.card-title.h6 {
          font-size: .95rem; } }
      
      span.btn.btn-primary.btn-sm.px-2, .btn-group-sm > span.btn.btn-primary.px-2 {
        padding: 0.05rem 1rem; }
      
      .small-card .card {
        -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5) !important;
                box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5) !important; }
      
      .small-card .card-body {
        height: 95px; }
      
      .small-card .cart-btn {
        display: none; }
      
      .small-card .system-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      
      .small-card .price .h6 {
        margin-top: -4px; }
      
      .small-card .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      
      .small-card .card-img-overlay {
        padding: 3.5rem; }
      
      .small-card:hover .system-btns {
        display: none; }
      
      .small-card:hover .cart-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      
      .small-card:hover .logo-overlay {
        padding: 3rem;
        -webkit-transition: all ease-out .4s;
        transition: all ease-out .4s; }
      
      .small-card:hover .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      
      .small-card .gameCard-img {
        height: 116px;
        min-width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .offer.small-card .gameCard-img {
        height: 223px;}
      .small-card .badges {
        top: -24px;
        left: 0; }
      
      .big-card .card {
        -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5) !important;
                box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5) !important; }
      
      .big-card .card-body {
        height: 95px; }
      
      .big-card .cart-btn {
        display: none; }
      
      .big-card .system-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      
      .big-card .price .h6 {
        margin-top: -4px; }
      
      .big-card .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      
      .big-card .card-img-overlay {
        padding: 3.5rem;
        max-width: 400px; }
      
      .big-card:hover .system-btns {
        display: none; }
      
      .big-card:hover .cart-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      
      .big-card:hover .logo-overlay {
        padding: 3rem;
        -webkit-transition: all ease-out .4s;
        transition: all ease-out .4s; }
      
      .big-card:hover .overlay {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      
      @media (max-width: 991.98px) {
        .big-card .gameCard-img {
          height: 345px; } }
      
      @media (min-width: 992px) {
        .big-card .gameCard-img {
          height: 361px; } }
      
      .big-card .gameCard-img {
        min-width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      
      .big-card .badges {
        top: -24px;
        left: 0; }
      
      #recommended .small-card .gameCard-img {
        height: 160px; }
      
      .card.bg-small-card {
        background-image: linear-gradient(100deg, #00ff7f -80%, #314954 110%); }
      
      .gameCard-footer-inner {
        height: 95px;
        background-image: linear-gradient(100deg, #00ff7f -80%, #314954 110%); }
      
      .game-card-rectangular {
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        cursor: pointer; }
        .game-card-rectangular .cart-btn {
          display: none; }
        .game-card-rectangular span.h6.text-shadow.mb-0 {
          margin-top: -4px; }
        .game-card-rectangular:hover {
          background-color: #314954;
          -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.4);
                  box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.4);
          -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out; }
          .game-card-rectangular:hover .cart-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
          .game-card-rectangular:hover .card-img-overlay {
            padding: .25rem;
            -webkit-transition: all ease-out .4s;
            transition: all ease-out .4s; }
          .game-card-rectangular:hover .logo-img-container {
            background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
            -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out; }
        .game-card-rectangular img {
          -o-object-fit: cover;
             object-fit: cover;
          height: 76px; 
          min-width: 100%;}
        .game-card-rectangular .bg-img-container {
          height: 76px;
          width: 136px; }
        .game-card-rectangular .logo-img-container {
          -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out; }
        .game-card-rectangular .card-img-overlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: .5rem;
          width: 100% }
      
      @media (max-width: 575.98px) {
        .game-card-rectangular .bg-img-container {
          height: 100px;
          width: 100px; }
        .game-card-rectangular .gameCard-img {
          width: 100%;
          height: 100px; }
        .game-card-rectangular img.logo-overlay.card-img-overlay {
          height: 55px; } }
      
      .price {
        white-space: nowrap; }
      
      #featured .left-small img {
        height: 178px; 
        width: 100%;
        /* object-fit: cover; */
      }
      
      #featured .right-long img {
        height: 360px; 
      }
      
      #featured .right-long img.gameCard-img {
        width: 100%;
        object-fit: cover;
      }
      
      #featured .square-img {
        max-height: 433px; }
      
      .discovered .img-overflow {
        height: 264px; }
      
      .discovered img.gameCard-img {
        min-width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      
      .carouselNews img.gameCard-img {
      min-width: 100%;
      height: 100%;
      -o-object-fit: cover;
          object-fit: cover; }
      
      .slick-dots li.slick-active button:before {
        color: #00ff7f !important; }
      
      .slick-dots li button:before {
        color: #00ff7f !important; }
      
      .inCart, .soon, .demoBadge {
        display: none;
        white-space: nowrap; }
      
      .btn-xs {
        font-size: 1rem !important;
        white-space: nowrap; }
      
      .btn-outline-primary:hover, a.bg-dark:hover {
        background-color: #00ff7f!important;
      }
        
      /* Crop text */
      @media (max-width: 575.98px) {
        .datatext {
          --max-lines: 3;
          position: relative;
          max-height: calc(var(--lh) * var(--max-lines));
          overflow: hidden;
          /* space for ellipsis */
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical; 
          margin-bottom: 0!important;}
        
        html {
          --lh: 1.5rem;
          line-height: var(--lh); }
        
        .datatext::before {
          position: absolute;
          content: "   ";
          inset-block-end: 0;
          /* "bottom" */
          inset-inline-end: 0;
          /* "right" */ }
        
        .datatext::after {
          content: "";
          position: absolute;
          inset-inline-end: 0;
          /* "right" */
          width: 1rem;
          height: 1rem; }
        
        .datatext p {
          margin-bottom: 0; }
      }
      
      @media (min-width: 576px) and (max-width: 767.98px) {
        .datatext {
          --max-lines: 4;
          position: relative;
          max-height: calc(var(--lh) * var(--max-lines));
          overflow: hidden;
          /* space for ellipsis */
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical; 
          margin-bottom: 0!important;
          margin-top: 0!important;}
        
        html {
          --lh: 1.5rem;
          line-height: var(--lh); }
        
        .datatext::before {
          position: absolute;
          content: "   ";
          inset-block-end: 0;
          /* "bottom" */
          inset-inline-end: 0;
          /* "right" */ }
        
        .datatext::after {
          content: "";
          position: absolute;
          inset-inline-end: 0;
          /* "right" */
          width: 1rem;
          height: 1rem; }
        
        .datatext p {
          margin-bottom: 0; }
      }
      
      @media (min-width: 768px) and (max-width: 991.98px) {
        .datatext {
          --max-lines: 6;
          position: relative;
          max-height: calc(var(--lh) * var(--max-lines));
          overflow: hidden;
          /* space for ellipsis */
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical; }
        
        html {
          --lh: 1.5rem;
          line-height: var(--lh); }
        
        .datatext::before {
          position: absolute;
          content: "   ";
          inset-block-end: 0;
          /* "bottom" */
          inset-inline-end: 0;
          /* "right" */ }
        
        .datatext::after {
          content: "";
          position: absolute;
          inset-inline-end: 0;
          /* "right" */
          width: 1rem;
          height: 1rem; }
        
        .datatext p {
          margin-bottom: 0; }
       }
      
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .datatext {
          --max-lines: 10;
          position: relative;
          max-height: calc(var(--lh) * var(--max-lines));
          overflow: hidden;
          /* space for ellipsis */
          display: -webkit-box;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical; }
        
        html {
          --lh: 1.5rem;
          line-height: var(--lh); }
        
        .datatext::before {
          position: absolute;
          content: "   ";
          inset-block-end: 0;
          /* "bottom" */
          inset-inline-end: 0;
          /* "right" */ }
        
        .datatext::after {
          content: "";
          position: absolute;
          inset-inline-end: 0;
          /* "right" */
          width: 1rem;
          height: 1rem; }
        
        .datatext p {
          margin-bottom: 0; }
      }
      
      @media (min-width: 1200px) {
        .datatext {
          --max-lines: 10;
          position: relative;
          max-height: calc(var(--lh) * var(--max-lines));
          overflow: hidden;
          /* space for ellipsis */
          display: -webkit-box;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical; }
        
        html {
          --lh: 1.5rem;
          line-height: var(--lh); }
        
        .datatext::before {
          position: absolute;
          content: "   ";
          inset-block-end: 0;
          /* "bottom" */
          inset-inline-end: 0;
          /* "right" */ }
        
        .datatext::after {
          content: "";
          position: absolute;
          inset-inline-end: 0;
          /* "right" */
          width: 1rem;
          height: 1rem; }
        
        .datatext p {
          margin-bottom: 0; }
      }
      
      .text-shadow2 {
        text-shadow: 2px 2px 5px rgba(0,0,0,.9);
      }
      
      /* //wishlist button */
      a:focus {
        outline: none;
      }
      .big-card .wishlist-btn {
        top: -18px;
        right: 0;
        z-index: 999;
      }
      .small-card .wishlist-btn {
        top: -18px;
        right: 0;
        z-index: 999;
      }
      
      button.btn.btn-outline-primary.btn-sm.wishlist-btn.wishlist.px-2.py-0.mr-3 {
        line-height: 1.2;
      }
      
      button.btn.btn-sm.wishlist-btn.px-2.py-0.mr-3.wishlisted.btn-primary {
        line-height: 1.2;
      }
      
      .btn-outline-primary.focus, .btn-outline-primary:focus, .btn-primary.focus, .btn-primary:focus {
        -webkit-box-shadow: none; 
        box-shadow: none;
      }
      
      .demoBadge {
        color: #fff;
        background-color: #0b2e3e;
      }
      
      .bg-dark-translucid {
        background-color: rgba(0, 0, 0, .8);
    }

    .breadcrumb {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
    }
    
    @media (max-width: 575.98px) {
      .breadcrumb {
        padding: .5rem 1rem !important;
        margin-bottom: .5rem;
      }
      .breadcrumb .display-2 {
        font-size: calc(1rem + 5.1vw);
      }
    }
    
    html[data-useragent*=idclauncher] .breadcrumb h1 {
      font-size: 1.3rem !important;
      line-height: 1.2rem !important;
      font-weight: 500!important;
    }
    
    html[data-useragent*=idclauncher] .breadcrumb-nav-post {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 9.5px 0 !important;
      height: 38px !important;
    }
    
    html[data-useragent*=idclauncher] .breadcrumb-nav-post * {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      line-height: 1 !important;
    }
    
    @media (max-width: 991.98px) {
      .grid-btns {
        position: absolute;
        top: .5rem;
        right: 0; }
      #menuColapsable {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start !important;
            -ms-flex-align: start !important;
                align-items: flex-start !important; }
        #menuColapsable li {
          border: 1px solid #314954;
          width: 100%; } }

          @media (max-width: 575.98px) {
            .search-form {
              width: 100%; } }
          
          .search-form button {
            height: 50px; }